html, body {
    height: 99%;
}

body {
    background-color: #e8e8e8;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.right-side {
    position: fixed;
    width: 50%;
    height: 768.75px;
    float: right;
    padding-left: 50%;
}

.login {
    position: absolute;
    vertical-align: top;
    width: 25%;
    margin-left: 55px;
    margin-right: 55px;
}

.login h1 {
    font-size: 45px;
    padding-top: 30px;
    font-family: "Quincy Bold";
}

.login p, h4 {
    font-size: 15px;
    color: #787e7e;
    font-family: "Playfair Display Bold";
}

.login p {
    margin-top: -20px;
}

.login h4 {
    margin-top: 7%;
}

input {
    font-size: 17.5px;
    font-family: 'Playfair Display Rgular'; /* not bold dapat */
    width: 100%;
    height: 15px;
    padding-left: 10px;
    padding-bottom: 24px;
    padding-top: 26px;
    margin-top: -15px;
    box-sizing: border-box;
}

.password {
    margin-top: -10px;
}

.forgot {
    text-align: right;
}

.login-button {
    width: 100%;
    box-sizing: border-box;
    margin-right: -15px;
}

button {
    background-color: #506a2c;
    font-size: 18px;
    font-family: 'Quincy Bold';
    color: #f6f6f6;
    width: 100%;
    padding: 12.5px 45px;
    margin-top: 200px;
}



@font-face {
    font-family: 'Quincy Bold';
    src: url('assets/fonts/quincycf-bold.otf');
}

@font-face {
    font-family: 'Playfair Display Bold';
    src: url('assets/fonts/playfairdisplay-bold.ttf');
}

@font-face {
    font-family: 'Playfair Display Regular';
    src: url('assets/fonts/playfairdisplay-regular.ttf');
}
